body {
	background: #d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

#principal { 
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

#menu {
	background: c5c5b2;
	border: 0px solid red;
	padding: 18px;
	text-align: center;
}

#conteudo {	
	background: #e8e8d9;
	padding: 18px;	
}

.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px outset #c3c3ae;
	width: 50%;
	margin-left: center;
}

.img-capa {
	border: 5px outset #c3c3ae;
	width: 100%;
}

.img-fotos {
	text-align: center;
}


h1{
	padding: 16px;
	font-size: 1.2em;
}

a {
	color: #4b566a;	
	text-decoration: none;
	font-weight: bold;
	border: 7px solid transparent;
	text-align: center;

}