body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

fieldset {
	padding: 1em;
	background: #f8f8f8;
	margin: 1em 0;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
}

input {
	width: 20em;
}

textarea {
	width: 20em;
	height: 10em;
}

input.radio {
	width: auto;
}

.radio {
	margin-right: 1em;
}